# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
!.env.example

# Datasets, Weights & Model Outputs
models/saved_weights/
**/outputs/
*.pt
*.joblib

# Logs & OS generated
*.log
*.sqlite3
.DS_Store
Thumbs.db
/models/data/
